appdirs==1.4.3
chardet==3.0.4
cupshelpers==1.0
docopt==0.6.2
idna==2.6
keyutils==0.5
louis==3.3.0
npyscreen==4.10.5
olefile==0.44
packaging==16.8
pacman-mirrors==4.6
pbr==3.1.1
Pillow==4.3.0
pycairo==1.15.4
pycups==1.9.73
pycurl==7.43.0
pygobject==3.26.1
pyparsing==2.2.0
pysmbc==1.0.15.8
python-libtorrent==1.1.5
python-sane==2.8.3
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
six==1.11.0
stevedore==1.28.0
team==1.0
udiskie==1.7.2
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
